<!-- <script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<style>
    .container-customcol {
        background-color: rgb(185, 190, 144);
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: 20%;
    }

    .btn-group {
        padding-bottom: 2%;
    }
   
</style>
<div class="d-flex justify-content-center " style="padding-top: 6em;">
    <div class="row container-customcol">
        <div class="col-md-6 text-center">


            <div class="mx-auto" style="width: 200px;">
                <h1 class="display-3">Binimoy</h1>
            </div>
            <button (click)=togglesignin_up() class="btn btn-success">{{CustBtn}}</button>  
        </div>
        <div class="col-md-6">
            <app-signin *ngIf="login"></app-signin>
            <app-signup *ngIf="!login"></app-signup>
            <div class="mx-auto text-center">      
            </div>
        </div>
     

       
    </div>  
</div> -->




<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- <style>
    .container-customcol {
        background-color: rgb(185, 190, 144);
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: 20%;
    }

    .btn-group {
        padding-bottom: 2%;
    }
</style>
<div class="d-flex justify-content-center " style="padding-top: 6em;">
    <div class="row container-customcol">
        <div class="col-md-6 text-center">

            <div class="mx-auto" >
                <h1 class="display-3">Binimoy</h1>
            </div>
            <div class="row" style="padding-bottom: 1em ;">
                <div class="col">
                    <button routerLink="signin" (click)="togglesignin_up()" class="btn btn-success">Sign in</button> 
                </div>
                <div class="col">
                    <a routerLink="signup" (click)="togglesign_up_ver()" class="btn btn-light">Sign Up </a>
                </div>
            </div>

        </div>
        <div class="col-md-6" >
            <div>
                <router-outlet></router-outlet>
            </div>
            <div>
                
            </div>
            
        </div>



    </div>
</div> -->



<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        <img src="assets/dist/img/binimoyLogo.png"    >
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Binimoy </h1>
                                </div>
                                <!-- <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <a href="index.html" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                </form> -->
                                <router-outlet></router-outlet>
                                <hr>
                                <!-- <div class="text-center">
                                    <a class="small" href="/">Forgot Password?</a>
                                </div> -->
                                <div class="text-center">
                                    <a routerLink="signin"  class="small">Login</a>  
                                | <a routerLink="signup"  class="small">Create an Account!</a>
                                <br> 
                                <a routerLink="forgotpassword"  class="small">Forgot Password?</a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

